In [2]:
3+9

12

In [3]:
a=10
b=20
c=30
print(a)

10

In [4]:
name="Manu"
age=30
print("name is",name,"age is",age)

name is Manu age is 30

In [5]:
#Delete variable cmd del
del(a)

In [7]:
print(a)

NameError: name 'a' is not defined

In [8]:
age==21

False

In [10]:
age>21

True

In [11]:
age<21

False

In [12]:
age!=20

True

In [13]:
#Variable Data Types  1.Tuple  2.List  3.Dictionary  4.Set
t1=(10,20,30,40,"Pune","Mumbai")

In [14]:
t1

(10, 20, 30, 40, 'Pune', 'Mumbai')

In [15]:
type(t1)

tuple

In [16]:
t1[0]  #indexing start from 0

10

In [17]:
t1[-1]

'Mumbai'

In [18]:
t1[-2]

'Pune'

In [19]:
t1[-0]

10

In [20]:
len(t1)   #To get the count,similar to length function in R

6

In [21]:
t1[2]

30

In [24]:
t2=(5,5,7,10,20,20,30,40,45,30)

In [25]:
t2.count(20)  #Tell how many times element is occuring

2

In [26]:
t2.count(7)

1

In [27]:
t2.index(20)

4

In [28]:
t2.index(5)

0

In [32]:
###List is one dimentional representation of data which can be mixed type and they are mutable
l1=[10,20,30,40,50,60,10,"Nashik","Mumbai","Pune"]

In [33]:
l1

[10, 20, 30, 40, 50, 60, 10, 'Nashik', 'Mumbai', 'Pune']

In [34]:
type(l1)

list

In [35]:
len(l1)

10

In [36]:
l1.count(10)

2

In [37]:
l1.index("Nashik")

7

In [39]:
l1[9]

'Pune'

In [40]:
l1[9]="Mahableshawar"   #List is mutable

In [41]:
l1

[10, 20, 30, 40, 50, 60, 10, 'Nashik', 'Mumbai', 'Mahableshawar']

In [42]:
l1.index(10)

0

In [43]:
l1.count(10)  #after .press tab

2

In [44]:
l1.append("Kolhapur")  ##To add the element at the end

In [45]:
l1

[10, 20, 30, 40, 50, 60, 10, 'Nashik', 'Mumbai', 'Mahableshawar', 'Kolhapur']

In [46]:
t2 =(10,20)

In [48]:
l1.insert(      3  ,555 )  #Use shift + tab for Help in list

In [49]:
l1

[10,
 20,
 30,
 555,
 40,
 50,
 60,
 10,
 'Nashik',
 'Mumbai',
 'Mahableshawar',
 'Kolhapur']

In [50]:
l1.clear()

In [51]:
l1  #It shows empty list

[]

In [52]:
l1=[10,23,4,5,56,6,7,"Data","Science"]

In [53]:
type(l1)

list

In [55]:
l1.count(50)

0

In [58]:
l1.extend("abcd")
l1

[10,
 23,
 4,
 5,
 56,
 6,
 7,
 'Data',
 'Science',
 'a',
 'b',
 'c',
 'd',
 'a',
 'b',
 'c',
 'd']

In [62]:
l2=["Class","Imarticus"]

In [63]:
l1.extend(l2)  #l1 list concatinate with list l2 at the end

In [64]:
l1

[10,
 23,
 4,
 5,
 56,
 6,
 7,
 'Data',
 'Science',
 'a',
 'b',
 'c',
 'd',
 'a',
 'b',
 'c',
 'd',
 'Class',
 'Class',
 'Imarticus']

In [65]:
l1.index("Imarticus")

19

In [66]:
l1.pop()

'Imarticus'

In [80]:
l5=[5,6,7,9,100,120,20,20,31,31,45]

In [68]:
l5.pop(4)

100

In [69]:
l5

[5, 6, 7, 9, 120, 20, 20, 31, 31, 45]

In [70]:
l5.remove(120)

In [71]:
l5

[5, 6, 7, 9, 20, 20, 31, 31, 45]

In [74]:
l5.remove(20)
l5

[5, 6, 7, 9, 31, 31, 45]

In [75]:
l5.reverse()

In [76]:
l5

[45, 31, 31, 9, 7, 6, 5]

In [77]:
l5.sort() #sort data in ascending order

In [78]:
l5

[5, 6, 7, 9, 31, 31, 45]

In [91]:
l2=[1,4,2,7,8,10]  ##To display data in disceding order
l2.sort()
l2
l2.reverse()
l2

[10, 8, 7, 4, 2, 1]

In [95]:
l3=list([10,20,30,40,50,"data"])
l3
type(l3)

list

In [99]:
l3=(1,2,3)
type(l3)

tuple

In [100]:
l4=list(l3)

In [101]:
type(l4)

list

In [102]:
##Dictinory is used to store data in key  value format and it is also used  to create a data frame
dict1={"name": "Mrunal",
         "Salary":100,
         "age": 20}
dict1

{'name': 'Mrunal', 'Salary': 100, 'age': 20}

In [103]:
type(dict1)

dict

In [104]:
dict1.keys()

dict_keys(['name', 'Salary', 'age'])

In [109]:
dict1.values()

dict_values(['Mrunal', 100, 20])

Emp ={"Emp_name":("a","b","c","d","e","f"),
       "Age":(20,30,40,05,60,70),
       "Salary":(100,200,300,400,500,600)}

In [111]:
Emp ={"Emp_name":("a","b","c","d","e","f"), "Age":(20,30,40,5,60,70), "Salary":(100,200,300,400,500,600)}

In [112]:
Emp.keys()

dict_keys(['Emp_name', 'Age', 'Salary'])

In [113]:
Emp.values()

dict_values([('a', 'b', 'c', 'd', 'e', 'f'), (20, 30, 40, 5, 60, 70), (100, 200, 300, 400, 500, 600)])

In [117]:
import pandas as pd
df1=pd.DataFrame(Emp)
df1

  Emp_name  Age  Salary
0        a   20     100
1        b   30     200
2        c   40     300
3        d    5     400
4        e   60     500
5        f   70     600

In [121]:
#Set is one dimensional representation of unique data  where indexing is not possible
s1=set([10,20,20,30,40,50])

In [130]:
s1

{10, 20, 30, 40, 50}

In [132]:
#s1[0] #We cant access like this for this we have to convert set into list
list1 = list(s1)
list1

[40, 10, 50, 20, 30]

In [136]:
s2=set([10,20,30,40,"Pune"])

In [137]:
list2=list(s2)

In [138]:
list2

[40, 10, 20, 'Pune', 30]

In [143]:
#Format Printing
state= "mh"
country= "India"
print("I live state {} & country {}". format(state,country))

I live state mh & country India

In [144]:
#Printing techniques of concatination
print("I live in state of",state)
print("I live in contry ",country)

I live in state of mh
I live in contry  India

In [148]:
print("I live in state of",state,end=" ")
print("I live in contry ",country)

I live in state of mh I live in contry  India

In [147]:
print("He live in state of",state,"This is in country", country)

He live in state of mh This is in country India

In [149]:
###Input function is used to take the input from the user
num=input("Number you wish to enter ")

Number you wish to enter 55555

In [150]:
num

'55555'

In [151]:
type(num)

str

In [152]:
#problem with is that it stores all the data in string format
num=eval(input("Number you wish to enter ")) #eval will preseve the data type of input enterd by user

Number you wish to enter 111111

In [153]:
type(num)

int

In [154]:
num+111

111222